TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
FLASK_ENV=
INTERNAL_API_KEY=
OPENAI_API_KEY=
PINECONE_ORG_ID=
PINECONE_DOC_ENV=
PINECONE_TEXT_FIELD=
PINECONE_API_KEY=
PINECONE_HOST=
PINECONE_INDEX=
MONGODB_URI=
MONGODB_DB=
MONGODB_COLLECTION=
REDIS_URL=

